@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');
:root {
    --colorTextos: #49454567;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
body{    
    /* background: #393e41; */
    background: url(assets/background.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}  

/*Header*/

.header{
    width: 100%;
	height: 70px;
    position: fixed;
	top: 0;
    left: 0;
}
.head_container{
    width: 90%;
    margin-left: 35px; 
}
 .head_container .head_label{ 
    float: left;
	line-height:100px;
}
/* .head_logo{
    padding-left: 15px;
} */
.head_container .head_menu{
    float: right;
	line-height: 90px;
}
.head_container label{
    color: #fff;
	font-size: 25px;
	cursor: pointer;
    height: 60px;
    margin-top: 10px;
}
.head_container .head_menu a{
    display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	margin-right: 5px;
}
.head_item{
    color: #e9ecef;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);    
}
.head_item::after{
    content: "";
    display: block; 
    background: #e9ecef;
    width: 95%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.head_item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*lateral menu*/

#menu{
    display: none; 
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;  
    height:100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 30%; 
    /* max-width: 250px; */
    background: #1c1c1c;
    height: 60vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%); 
    clip-path: circle(70% at 13% 11%);
   

}
#menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);   
}

.cont-menu nav{
    transform: translateY(15%);
    padding-top: 30px;
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;  
}
.cont-menu label{
    position: absolute;
    right: 97px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
}

/* waves */

/*FORM*/
.vw{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 55vh;
    margin-top: 167px;
}
.form-container{
    border: none; 
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 45vw;
    height: 349px;
    background: #232526; 
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526);
    opacity:1;
}
h1{
    height: 40px;
    color:#f2f2f2;
    text-align: center;
    padding: 10px;   
    margin: 5px;
}
form{
    margin: 10px;
    padding: 5px;
    padding-left: 50px;
    width: 40vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 
.nick{
    margin: 30px 0 30px 0;
}

#form label {  
    color:#f2f2f2;
    font-size: 16px;
    bottom: 40px;
    pointer-events: none;
}
#form input {   
    background: none;
    font-size: 16px;
    padding: 1px 2px 5px 3px;
    display: block;
    width: 40%;
    border: none;
    border-bottom:2px solid  #485563;
    outline: none; 
    border-radius: 2px;
} 


.button{
    display: flex;
    justify-content: flex-end; 
    margin-top: 40px;
} 
button[type="button"]{
    color:#232526;
    height: 40px; 
    width: 142px;
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #767778, #44484a); 
    background: linear-gradient(to right,  #767778, #44484a); 
    cursor: pointer;

}