:root {
    --colorTextos: #49454567;
}
body{
    height: 97vh;   
}
.vw{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.form-container{
    border: 1px solid#023361; 
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 50vw; 
    height: 380px;  
}
h1{
    height: 40px;
    font-family: 'Montserrat';
    color:rgb(24, 24, 24);
    text-align: center;
    padding: 10px;   
    margin: 5px;
}
form{
    margin: 10px;
    padding: 5px;
    width: 40vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 
label {  
    color: #747070;
    font-size: 16px;
    bottom: 40px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}
input {   
    background: none;
    /* color: #747070; */
    font-size: 16px;
    padding: 1px 2px 5px 3px;
    display: block;
    width: 30%;
    border:1px solid var(--colorTextos); ;
    outline: none; 
    border-radius: 5px;
    /* border-bottom:  */
} 


.button{
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    border-radius: 5px;
    color: #747070;
     height: 40px; 
    cursor: pointer;  
} 
