*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif ;
 }
 body{
   background-image: linear-gradient(135deg, 
   #ff57d2 0,
    #ff4edb 12.5%,
     #f046e3 25%,
      #d63feb 37.5%,
       #b53cf2 50%,
        #8c3df9 62.5%,
         #4f40ff 75%,
          #0046ff 87.5%,
           #004bff 100%);
           background-size: 500%;
           animation: fanimado 5s infinite;
 }
 .text{
   color: white;
   text-align: center;
   margin: 300px 0;
   font-size: 28px;
 }
 
 @keyframes fanimado{
   0%{
     background-position: 0% 50%;
   }
   50%{
     background-position: 100% 50%;
   }
   100%{
       background-position: 0% 50%;
   }
 }
 